---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
const posts = await getCollection('blog');
---

<Layout>
  {posts.map((post) => <a href={`/writing/${post.id}`}>{post.data.title}</a>)}
</Layout>
